#row{
    background-color: aqua;
}
#technology{
    font-family: 'PT Serif', serif;
}
#sports{
    font-family: 'PT Serif', serif;
}
#business{
    font-family: 'PT Serif', serif;
}
#entertainment{

    font-family: 'PT Serif', serif;
}
#general{
    font-family: 'PT Serif', serif;
}