{% macro displayNewsList(news_list) %}

    {% for row in news_list |batch(4)%}
    <div class="row">

        {% for news in row %}
        
            <div class="col-md-3">
		           
                <div class="panel panel-default">
                    <div class="panel-heading">
                    
                         {{ news.name}}

                    </div>
                    <div class="panel-body">
                        <p>
                            {{ news.description |truncate(100)}}

                        </p>
                        <a href="/news/{{news.id}}" > Click here to explore {{news.name}}</a>
                    </div>
                

                </div>
            </div>

        {% endfor %}
    </div>
    {% endfor %}

{% endmacro %}